extends ../layout
block content
  h1 Productos
  p
    a(href="/productos/create") Crear nuevo producto
  -if(productos.length > 0)
    table
      thead
        tr
          th Nombre
          th Categoria
          th Desc
          th Precio
          th
          th
          th
      tbody
        -each item in productos
          tr
            td #{item.nombre}
            td #{item.categoria}
            td #{item.desc}
            td #{item.precio}
            td Ver
            td Editar
            td Eliminar
  -else
    p No existen productos creados